<div class="container">
    <div class="row">
        <div class="col-xs-8 col-sm-2 col-md-2 col-lg-2">
            <img src="/assets/imagenes/acercaDe/cursos.jpg" class="img-fluid miFoto" alt="Mi Foto">
        </div>
    </div>
    
    <div class="row nombre_presentacion">
    
        <div class="col-md-4 col-12">
            <h4>Guadalupe Rollie</h4>
            <p id="nivel">Full Stack Developer Jr.</p>
        </div>
        <div class="col-md-8 col-12">
            <h4>Acerda de mi</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro eveniet ex maiores ea repudiandae id officia sed sequi assumenda tempora.</p>
        </div>
    
    </div>
    
</div>
