<div class="container contenedorAcercaDe">
    <div class="row">
        <div class="col-xs-8 col-sm-2 col-md-2 col-lg-2">
            <img src="/assets/imagenes/acercaDe/cursos.jpg" class="rounded-circle miFoto" alt="Mi Foto">
            <!--<img src="/assets/imagenes/acercaDe/cursos.jpg" class="img-fluid miFoto" alt="Mi Foto">-->
        </div>
    </div>
    
    <div class="row nombre_presentacion">
    
        <div class="col-md-4 col-12">
            <!--<h4>Guadalupe Rollie</h4>-->
            <h4>{{persona.nombre}} {{persona.apellido}}</h4>
            <p id="nivel">Full Stack Developer Jr.</p>
            <p>e-Mail {{persona.email}}</p>
        </div>
        <div class="col-md-8 col-12">
            <h4>Acerda de mi</h4>
            <p>{{persona.sobreMi}}</p>
        </div>
    
    </div>
    
</div>
