<div class="container">
    <div class="row">
       
       <app-titulo-seccion [denominacionSeccion]="'Habilidades'"></app-titulo-seccion>

        <div class="col-md-4 habilidad" *ngFor="let habilidad of persona.listaHabilidades">
           
            <circle-progress class="avance" *ngIf="habilidad.tipoHabilidad.nombre=='Duras'"
            [percent]=habilidad.gradoDominio
            [radius]="70"
            [outerStrokeWidth]="11"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#900C3F'"
            [innerStrokeColor]="'#F08080'"
            [animation]="true"
            [animationDuration]="300"
            >
            </circle-progress>
            <circle-progress class="avance" *ngIf="habilidad.tipoHabilidad.nombre=='Blandas'"
            [percent]=habilidad.gradoDominio
            [radius]="70"
            [outerStrokeWidth]="11"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#BA7F90'"
            [innerStrokeColor]="'#FDD8E3'"
            [animation]="true"
            [animationDuration]="300"
            >
            </circle-progress>
            <h5 class="nombreHabilidad">{{habilidad.nombre}}</h5>
        </div>

       
    </div>
</div>
