<div class="container">
    <div class="row">
        <h1>Habilidades</h1>
        <div class="col-md-4 habilidad">
           
            <circle-progress class="avance"
            [percent]="85"
            [radius]="70"
            [outerStrokeWidth]="11"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#900C3F'"
            [innerStrokeColor]="'#F08080'"
            [animation]="true"
            [animationDuration]="300"
            >
            </circle-progress>
            <h3 class="nombreHabilidad">CSS</h3>
        </div>

        <div class="col-md-4 habilidad">
           
            <circle-progress class="avance"
            [percent]="85"
            [radius]="70"
            [outerStrokeWidth]="11"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#900C3F'"
            [innerStrokeColor]="'#F08080'"
            [animation]="true"
            [animationDuration]="300"
            >
            </circle-progress>
            <h3 class="nombreHabilidad">HTML</h3>
        </div>

        <div class="col-md-4 habilidad">
           
            <circle-progress class="avance"
            [percent]="85"
            [radius]="70"
            [outerStrokeWidth]="11"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#900C3F'"
            [innerStrokeColor]="'#F08080'"
            [animation]="true"
            [animationDuration]="300"
            >
            </circle-progress>
            <h3 class="nombreHabilidad">Bootstrap</h3>
        </div>

        <div class="col-md-4 habilidad">
           
            <circle-progress class="avance"
            [percent]="85"
            [radius]="70"
            [outerStrokeWidth]="11"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#900C3F'"
            [innerStrokeColor]="'#F08080'"
            [animation]="true"
            [animationDuration]="300"
            >
            </circle-progress>
            <h3 class="nombreHabilidad">TypeScript</h3>
        </div>
    </div>
</div>
