<div class="container">
    <div class="row">
       
       <app-titulo-seccion [denominacionSeccion]="'Habilidades'"></app-titulo-seccion>

        <div class="col-md-4 habilidad">
           
            <circle-progress class="avance"
            [percent]="50"
            [radius]="70"
            [outerStrokeWidth]="11"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#900C3F'"
            [innerStrokeColor]="'#F08080'"
            [animation]="true"
            [animationDuration]="300"
            >
            </circle-progress>
            <h4 class="nombreHabilidad">CSS</h4>
        </div>

        <div class="col-md-4 habilidad">
           
            <circle-progress class="avance"
            [percent]="65"
            [radius]="70"
            [outerStrokeWidth]="11"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#900C3F'"
            [innerStrokeColor]="'#F08080'"
            [animation]="true"
            [animationDuration]="300"
            >
            </circle-progress>
            <h4 class="nombreHabilidad">HTML</h4>
        </div>

        <div class="col-md-4 habilidad">
           
            <circle-progress class="avance"
            [percent]="40"
            [radius]="70"
            [outerStrokeWidth]="11"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#900C3F'"
            [innerStrokeColor]="'#F08080'"
            [animation]="true"
            [animationDuration]="300"
            >
            </circle-progress>
            <h4 class="nombreHabilidad">Bootstrap</h4>
        </div>

        <div class="col-md-4 habilidad">
           
            <circle-progress class="avance"
            [percent]="30"
            [radius]="70"
            [outerStrokeWidth]="11"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#900C3F'"
            [innerStrokeColor]="'#F08080'"
            [animation]="true"
            [animationDuration]="300"
            >
            </circle-progress>
            <h4 class="nombreHabilidad">TypeScript</h4>
        </div>

        <div class="col-md-4 habilidad">
           
            <circle-progress class="avance"
            [percent]="100"
            [radius]="70"
            [outerStrokeWidth]="11"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#900C3F'"
            [innerStrokeColor]="'#F08080'"
            [animation]="true"
            [animationDuration]="300"
            >
            </circle-progress>
            <h4 class="nombreHabilidad">Trabajo en Equipo</h4>
        </div>

        <div class="col-md-4 habilidad">
           
            <circle-progress class="avance"
            [percent]="100"
            [radius]="70"
            [outerStrokeWidth]="11"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#900C3F'"
            [innerStrokeColor]="'#F08080'"
            [animation]="true"
            [animationDuration]="300"
            >
            </circle-progress>
            <h4 class="nombreHabilidad">Responsabilidad</h4>
        </div>
    </div>
</div>
