#logoArgProg{
    height: 50px;
    padding: 2px 2px;
}

#etapa{
    color: white;
    font-size: small;
    padding: 5px 5px;
}

#argProg{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
}