<div class="container">

    <app-titulo-seccion [denominacionSeccion]="'Proyectos'"></app-titulo-seccion>
    
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="/assets/imagenes/proyectos/mercadolibre.png" class="card-img-top" alt="Mercdo Libre">
            <div class="card-body">
              <h5 class="card-title">Mercado Libre</h5>
              <h6 class="card-subtitle mb-2 text-muted">Junio 2021</h6>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <!--<a href="#" class="btn btn-primary">Visitar Proyecto</a>-->
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Visitar Proyecto</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="/assets/imagenes/proyectos/ministerioturismo.png" class="card-img-top" alt="Ministerio de Turismo">
            <div class="card-body">
              <h5 class="card-title">Ministerio de Turismo</h5>
              <h6 class="card-subtitle mb-2 text-muted">Mayo 2020</h6>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
             <!--<a href="#" class="btn btn-primary">Visitar Proyecto</a>-->
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Visitar Proyecto</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="/assets/imagenes/proyectos/tenable.png" class="card-img-top" alt="Tenable">
            <div class="card-body">
              <h5 class="card-title">Tenable</h5>
              <h6 class="card-subtitle mb-2 text-muted">Agosto 2018</h6>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
             <!-- <a href="#" class="btn btn-primary">Visitar Proyecto</a>-->
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Visitar Proyecto</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="/assets/imagenes/proyectos/wireshark.png" class="card-img-top" alt="Wireshark">
            <div class="card-body">
              <h5 class="card-title">WireShark</h5>
              <h6 class="card-subtitle mb-2 text-muted">Enero 2018</h6>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
             <!-- <a href="#" class="btn btn-primary">Visitar Proyecto</a>-->
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Visitar Proyecto</a>
            </div>
          </div>
        </div>
      </div>
</div>
