<div class="container-fluid contenedor">
<div id="barraSuperior">
    <!--<app-logo-arg-prog></app-logo-arg-prog>-->
    <div id="argProg" >
        <img id="logoArgProg" src="/assets/imagenes/encabezado/img_argPrograma.png" alt="logo Argentina Programa"/>
        <h6 id="etapa">#Yo Programo</h6>
    </div>

    <!--<app-redes-sociales></app-redes-sociales>-->
    <div id="redesSociales">
        <a href="https://www.facebook.com/guadalupe.rollie/" class="bi bi-facebook redSocial"></a>
        <a href="https://twitter.com/RollieGuada" class="bi bi-twitter redSocial"></a>
        <a href="https://www.instagram.com/rollieguadalupe/?hl=es" class="bi bi-instagram redSocial"></a>
    </div>

    <div id="login">
        <button type="button" class="btn btn-primary btnLogin" (click)="clickLogin()">Login</button>
    </div>
    <!--<app-login></app-login>-->
   
</div>

<div id="cmpBanner">
    <img id="imgBanner" src="/assets/imagenes/encabezado/img_banner.jpg" alt="banner">
</div>

</div>
