.contenedorLaboral{
    margin-top: 50px;
}

.row{
    align-items: center;
}

.puesto {
    display: inline;
    margin-right: 10px;
}
.periodoTrabajado{
    display: inline;
}

.btn-group{
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
    justify-self: stretch;
    text-align: end;    
}
