<div class="container contenedorLaboral">
   <app-titulo-seccion [denominacionSeccion]="'Experiencia Laboral'"></app-titulo-seccion>
    <div>
        <ul class="list-group">
           
            <li class="list-group-item list-group-item-dark" *ngFor="let empleo of persona.listaEmpleos">
                <div class="row">
                    <div class="col-md-2">
                        <img src="/assets/imagenes/encabezado/img_argPrograma.png" class="img-fluid fotoEmpresa" alt="Mi Foto">
                    </div>
                    <div class="col-md-10">
                        <h5>{{empleo.nombreEmpresa}}</h5>
                        <h6 class="puesto">{{empleo.tipoEmpleo.nombre}}</h6> <h6 class="periodoTrabajado"> {{empleo.fechaInicio}} - {{empleo.fechaFin}}</h6>
                        <p>{{empleo.descripcion}}</p>
                    </div>
                </div>
            </li>

          </ul>
    </div>
</div>

